.form_content {
    text-align: left;
    padding: 30px;
}

form {
    background-color: blanchedalmond;
    text-align: left;
    padding: 10px;
    width: 50%;
    font: Courier New;
    font-size: 20px;
}

form input {
    float: right;
}

form input[type="radio"] {
    float: none;
}

form textarea {
    float: right;
}

form input [type="Submit"] {
    text-align: right;
    size: 40px;
    color: aquamarine;
}