body {
    padding: 0;
    margin: 0;
    background: #f7f7f7;
    ;
}

.header {
    background-image: url("https://static.pexels.com/photos/302899/pexels-photo-302899.jpeg");
    height: 400px;
    background-position: center center;
}

h1 {
    color: rgb(3, 150, 100);
    color: rgba(3, 101, 100, 0.75);
    /** background-color: Aqua;**/
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
}


/** List Style **/

h2 {
    color: #E4BB97;
    background-color: #AA8EB5;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

ul {
    width: 90%;
}

li {
    list-style: none;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 19px;
    font-weight: 500;
}

a {
    color: #214E34;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}