                /* video for flex box https://www.youtube.com/watch?v=k32voqQhODc
        video for media query: https://www.youtube.com/watch?v=VQjy_33t8cg&t=193s */
            
            form {
                width: 960px;
                background-color: antiquewhite;
                padding: 20px;
                text-align: center;
                font-size: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            .button-component {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: 1em;
            }
            
            form input[type="text"] {
                width: 400px;
                height: 20px;
                text-align: left;
                border-radius: 5px;
            }
            
            form input[type="email"] {
                width: 400px;
                height: 20px;
                text-align: left;
                border-radius: 5px;
                float: center;
            }
            
            form input[type="Submit"] {
                width: 100px;
                border-radius: 25px;
                background-color: lightblue;
                display: inline;
            }
            /*-------Media Queries---------

        @media (max-width:959px) {
            form {
        display: none;
        }
*/
            
            @media (max-width:775px) {
                form {
                    width: 100%;
                    float: center;
                    flex-direction: column;
                    text-align: center;
                }
                form input[type="Submit"] {
                    width: 100%;
                    float: center;
                }
                .button-component {
                    width: 100%;
                    text-align: center;
                    float: center;
                    padding: 15px;
                    justify-content: flex-end;
                }
                form input[type="Submit"] {
                    width: 15%;
                    float: center;
                    border-radius: 50px;
                    background-color: lightblue;
                }