  * {
      font-family: 'Georgia', 'Times', serif;
      background-color: rgb(159, 222, 213);
  }
  /* Image styling*/
  
  img {
      border-radius: 100%;
  }
  /* Heading styling */
  
  h1 {
      color: brown;
      font-size: 30px;
  }
  /* link styling*/
  
  a {
      color: blue;
  }